.s-hero {
  background-image: url(../assets/imgHero-mobile.png);
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include web {
    background-image: url(../assets/imgHero-web.jpg);
  }

  .container-hero {
    width: calc(100% - 2rem);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 2rem;

    @include web {
      height: calc(100vh - 6rem);
    }
    h2 {
      font-size: 2rem;
      text-align: center;
      color: $purple-900;
      line-height: 125%;
      font-weight: 700;

      @include web {
        max-width: 50%;
      }
    }

    button {
      margin-top: 1.5rem;
      display: block;
      background: $purple-900;
      color: $white;
      padding: 1rem 2rem;
      border-radius: 3px;
      border: 0;
      font-size: 0.9rem;
      font-weight: 600;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(1.2);
      }
    }
  }
}

.s-problem {
  overflow: hidden;
  width: calc(100% - 2rem);
  margin: 0 auto;

  @include web {
    display: flex;
    align-items: center;
    max-width: 1280px;
    padding: 3rem 0;
  }

  .problem-text {
    padding: 3rem 0;
    @include web {
      max-width: 50%;
      padding-right: 9rem;
    }
    h2 {
      font-size: 1.5rem;
      line-height: 125%;
      font-weight: 700;
      margin-bottom: 1rem;
      color: $purple-900;
    }

    p {
      color: $purple-500;
      line-height: 110%;
      margin-top: 1rem;
    }
  }

  .problem-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 3rem;

    .gallery-one-left {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .gallery-one-right {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
.s-benefits {
  background-image: url(../assets/bg-benefits.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;

  .container-benefits {
    display: flex;
    flex-direction: column-reverse;
    width: calc(100% - 2rem);
    margin: 0 auto;
    padding-bottom: 3rem;

    @include web {
      display: flex;
      align-items: center;
      flex-direction: row;
      padding: 2rem 0;
      max-width: 1280px;
    }
    .benefits-text {
      padding: 3rem 0;
      display: flex;
      flex-direction: column;

      @include web {
        max-width: 50%;
        padding-right: 3rem;
        padding-left: 1rem;
      }
      h2 {
        font-size: 1.5rem;
        line-height: 125%;
        font-weight: 700;
        margin-bottom: 1rem;
        color: $white;
      }

      p {
        color: $white;
        line-height: 110%;
        margin-top: 1rem;
      }

      button {
        display: block;
        padding: 1rem 2rem;
        border-radius: 3px;
        background-color: $purple-100;
        color: $purple-900;
        font-size: 0.9rem;
        font-weight: 600;
        border: 0;
        margin-top: 2rem;
        transition: filter 0.2s;

        &:hover {
          filter: brightness(1.2);
        }
      }
    }
  }

  .benefits-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .gallery-two-left {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .gallery-two-right {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

.s-quem-sou {
  width: calc(100% - 2rem);
  margin: 0 auto;

  @include web {
    max-width: 1280px;
    display: flex;
    align-items: center;
    padding-top: 3rem;
    margin: 0 auto;
  }
  .quem-sou-text {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;

    @include web {
      padding: 3rem 9rem 3rem 0;
      max-width: 50%;
    }
    h2 {
      font-size: 1.5rem;
      line-height: 125%;
      color: $purple-900;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    p {
      line-height: 110%;
      color: $purple-500;
      margin-top: 1rem;
    }
  }

  .quem-sou-image {
    width: 100%;

    img {
      width: 100%;
    }
  }
}
.s-team-coach {
  background-image: url(../assets/hero-extraordinario.jpg);
  height: 20rem;
  display: flex;
  background-position: center;

  @include tablet {
    background-position: left top;
  }

  .container-team-coach {
    width: calc(100% - 2rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    @include web {
      width: 1280px;
      display: flex;
      margin: 0 auto;
      align-items: center;
      flex-direction: row;
    }
    .text-team-coach {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;

      h2 {
        font-size: 3rem;
        color: $white;
        font-weight: 500;
        line-height: 125%;
      }

      span {
        height: 3px;
        background-color: $white;
        width: 70%;
        margin-top: 0.25rem;

        @include web {
          width: 30%;
        }
      }

      p {
        font-size: 1.5rem;
        font-weight: 300;
        margin-top: 0.5rem;
        color: $white;
      }
    }
    .btn-team-coach {
      width: 50%;
      display: flex;
      justify-content: end;
      
      button {
        background-color: $purple-100;
        color: $purple-900;
        padding: 1.5rem 4rem;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        border: 0;

        a {
          text-decoration: none;
        }
        

      }
    }
  }
}
.s-servicos {
  background-color: $purple-100;
  display: flex;
  flex-direction: column;
  padding: 3rem 0;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: $purple-900;
  }

  .container-servicos {
    max-width: calc(100% - 2rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;

    @include tablet {
      flex-direction: row;
    }

    .coach-grupo,
    .perfil-comportamental {
      max-width: 392px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-color: $white;
      border-radius: 2rem;
      filter: drop-shadow(0px 4px 4px $shadow);
      transition: filter 0.3s;

      &:hover {
        filter: drop-shadow(0px 16px 16px $shadow);
      }

      h3 {
        font-size: 1.25rem;
        font-weight: 700;
        color: $purple-900;
        margin-left: 1rem;
      }

      p {
        display: -webkit-box;
        color: $purple-500;
        overflow: hidden;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        margin: 0 1rem;
        margin-bottom: 1rem;
      }

      a {
        color: $purple-500;
        text-decoration: none;
        align-self: flex-end;
        margin-right: 1rem;
        margin-bottom: 1.25rem;
      }
    }
  }
}

.s-contato {
  background-color: $purple-900;

  .form-contato {
    width: calc(100% - 2rem);
    margin: 0 auto;
    padding: 3rem 0 2rem 0;

    h2 {
      font-size: 2rem;
      font-weight: 700;
      color: $white;
      margin-bottom: 1.5rem;
      max-width: 768px;
      margin-left: auto;
      margin-right: auto;
    }

    form {
      max-width: 768px;
      margin: 0 auto;
      .inputs-contato {
        display: flex;
        flex-direction: column;

        input {
          background-color: $white;
          border: 0;
          width: 100%;
          font-size: 0.9rem;
          font-weight: 300;
          padding: 1rem 0 1rem 1rem;
          border-radius: 3px;
          color: $purple-900;
        }

        select {
          background-color: $white;
          border: 0;
          width: 100%;
          font-size: 0.9rem;
          font-weight: 300;
          padding: 1rem 0 1rem 1rem;
          border-radius: 3px;
          color: $purple-900;
        }

        .btn-contato {
          width: 30%;
          background-color: $purple-100;
          color: $purple-900;
          font-size: 0.9rem;
          font-weight: 500;
          padding: 1rem 0;
          transition: filter 0.3rem;

          &:hover {
            filter: brightness(1.2);
          }
        }
      }
    }
  }
}
